body{
    margin-top: 200px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 1px solid #000;
  text-align: left;
  width: 450px;
  height: 120px;
  
}
#celda-1{
    background-color: rgb(152, 163, 69);
}
#celda-2{
    background-color: rgb(233, 164, 157);
}
